go 1.26.1

use (
	./gen/proto/go
	./lib/auth_sdk
	./lib/pg_lib
	./lib/logging
	./lib/grpc_lib
	./services/auth_sidecar
	./services/auth_service
	./services/fleet_manager
	./services/match_history_service
	./services/match_history_service_v2
	./services/match_service
	./services/mm_event
	./services/rating_service
	./services/user_service
	./services/user_event
)
