base:
  apiVersion: v1
  kind: Secret
  metadata:
    name: match-history-storage-v2-credentials
  type: Opaque
versions:
  prod:
    merge:
      metadata:
        labels:
          environment: production
    secrets:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
  dev:
    merge:
      metadata:
        labels:
          environment: dev
    secrets:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
