base:
  apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: rating-storage-pvc
  spec:
    accessModes:
      - ReadWriteOnce
versions:
  prod:
    merge:
      metadata:
        labels:
          environment: production
      spec:
        resources:
          requests:
            storage: 10Gi
  dev:
    merge:
      metadata:
        labels:
          environment: dev
      spec:
        resources:
          requests:
            storage: 512Mi
